.currency-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 12px;
  margin-bottom: 12px;

  .currency-label {
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
  }

  .currency-line {
    display: flex;
    flex-direction: row;

    .currency-input {
      width: 170px;
      border: 1px solid var(--tertiary);
      border-radius: 8px;
      padding: 0 10px;
      text-align: right;
      font-size: 16px;
    }

    .currency-input:disabled {
      background-color: transparent;
      border: none;
    }
  }
}
