.stats-filters {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   margin-bottom: 25px;
   width: 100%;

   .stat-filter-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 15px;

      .chart-filter-label {
         color: rgb(146, 146, 146);
         letter-spacing: 2px;
         font-size: 13px;
         margin: 2px;
      }
      
      .chart-select-filter {
         border-radius: 5px;
         width: 130px;
         padding: 4px;
         border: 1px solid rgb(195, 195, 195);
         color: rgb(64, 64, 64);
      }
   }
}