.parent-menu {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.sub-menu-link {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  z-index: 300;
  background-color: var(--primary);
  border-radius: 0 6px 6px 0;
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.15);
}

